<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>

<h2><% @the_ships.each do |ship| %></h2>
    <%= ship.name %>
    <%= ship.type %>
    <%= ship.booty %>
<% end %>

<h2></h2>
